<form class="product-name" novalidate="">
    <div class="product-name-input">
        <label for="productNameChangeLabel" style="font-weight: bold">Product Name Change</label><br>
        <input type="text" id="product-name-input" class="product-name-change-input" value="<%- product.title %>">
    </div>
    <!-- Update Product Name Button -->
    <div class="form-group m-0">
        <button type='button' class="update-product-name" id="update-product-name-btn" style="margin-top: 10px">Update Product Name</button>
    </div>
</form>
