<form class="my-login-validation" novalidate="">
    <div class="profile-info">
        <label for="Product_Name" style="font-weight: bold">Product Name Change</label><br>
        <input type="text" id="product-name-input" class="product_name_input" value="<%- product.title %>">
    </div>
    <!-- Update Product Name Button -->
    <div class="form-group m-0">
        <button type='button' class="update-product-btn" id="update-product-account" style="margin-top: 10px">Update Product Name</button>
    </div>
</form>