<!DOCTYPE HTML>
<html>

	<head>
		<title> WEB601 Ecommerce | Success</title>
		<%- include('partials/head.ejs'); %>
	</head>

	<body>
        <%- include('partials/header.ejs'); %>

            <!-- ANCHOR main content here -->

		<%- include('partials/footer.ejs'); %>

	</body>

</html>